/* Style.css */

.ctext{
    font-family: 'Crimson Text', serif;
    font-style: italic;
}

/* --- Header --- */
.top-bar{
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
}

.logo{
    font-family: Montserrat, arial;
    font-weight: Bold;
    color: #FFF;
}

.top-bar, .top-bar ul {
    background-color: transparent;
}
.top-bar, .top-bar ul li a{
    color: #FFF;
    font-family: Montserrat, arial;
}



/* --- Jumbotron --- */

#jumbo{
    background-color: #151b29;
    min-height: 900px;
    display: block;
    width: 100%;
}
.s-slider{
      top: 100px;
}

.s-item{
    height: 600px;
}

.s-slider img{
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.below-slider{
    color: #394156;
    text-align: center;
    position: relative;
    z-index: 1;
}

.g-button{
    background: transparent;
    color: #d89b64;
    border: 1px solid #394156;
}

#j-button{
    position: absolute;
    top: 0;
    right: 0;
}

/* Perfection */

#perfection img{
    position: relative;
    width: 100%;
    z-index: -1;
}

.entry-text{
    text-align: center;
    color: #151b29;
    margin: 40px 0;
}

.img-container{
    margin-top: 40px;
    position: relative;
}

.text-container{
   position: absolute; 
   top: calc(50% - 50px); 
   left: 0;
   text-align: center; 
   max-width: 100%; 
   padding-left: 20%;
   padding-right: 20%;
   color: #FFF;
}

.text-container h3{
    color: #d89b64;
}

.overlay{
    background-color: rgba(21, 27, 41, 0.72);
}

/* --- DETAILS --- */

#details{
    background: url(../img/details.png);
}